.refresh-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 1rem;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.status-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 1rem;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.widget {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1.5rem;
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.widget:hover {
    transform: scale(1.05);
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.value {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.spinner-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin-top: 8px;
}

.sk-circle {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .widgets {
        flex-direction: column;
        align-items: center;
    }

    .widget {
        width: 90%;
        max-width: 300px;
    }
}